@section Styles {
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link href="/css/app.css" rel="stylesheet">
}

<section id="list">
    <h3>Your Tasks</h3>

    <button id="btnDetails" class="btn btn-secondary">
        <i class="far fa-eye-slash"></i>
        Hide details
    </button>

    <div id="pendingTasks">
        <!-- render here the tasks -->
    </div>
</section>

<section id="details">
    <h3>Task information</h3>

    <div id="alertError" class="hide alert alert-danger">
        Please fix the following problems:
        <ul id="listErrors"></ul>
    </div>

    <div class="control">
        <label>Id:</label>
        <input class="form-control" type="text" id="txtId" readonly>
    </div>

    <div class="control">
        <label>Title:</label>
        <input class="form-control" type="text" id="txtTitle" placeholder="Task title">
    </div>

    <div class="control">
        <label class="lblImp">Is it important?</label>
        <i id="iconImp" class="far fa-star"></i>
    </div>

    <div class="control">
        <label>Start:</label>
        <input class="form-control" type="datetime-local" id="txtStartDate" placeholder="Start Date">
    </div>

    <div class="control">
        <label>End:</label>
        <input class="form-control" type="datetime-local" id="txtDueDate" placeholder="Due Date">
    </div>

    <div class="control">
        <label>Status:</label>
        <select id="selStatus" class="form-control" placeholder="Select Status">
            <option value="0" disabled selected>-- Select status --</option>
            <option value="1">Pending</option>
            <option value="2">In progress</option>
            <option value="3">Blocked</option>
            <option value="9">Done</option>
        </select>
    </div>

    <div class="control">
        <label class="lblDesc">Description:</label>
        <textarea id="txtDescription" class="form-control"></textarea>
    </div>

    <div class="control">
        <button id="btnSave" class="btn btn-info">Save Task</button>
    </div>

</section>

</main>

@section Scripts{
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="/js/task.js"></script>
    <script src="/js/app.js"></script>
}